.title-header{
  font-size: 36px;
  font-weight: bold;
}

button.service-button {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    #border: none;
}

button.service-button.on {
    background: #23bb23;
}

button.service-button.off {
    background: #d2222d;
}
